{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
  <h1>Registrarse</h1>
  <p>crear una cuenta</p>  
  <form action="/signup/" method="POST" class="registrarse">
    {{error}}
    {% csrf_token %} 
    <label for="username">nombre de usuario</label>
    <input type="text" name="username" id="username">
    <label for="password1">contrase;a</label>
    <input type="password" name="password1" id="password1" placeholder="ingresa la contrase;a">
    <label for="password2">confirmar contrase;a</label>
    <input type="password" name="password2" id="password2" placeholder="confirma la contrase;a">
    <button>Registrarse</button>
  </form>
</div>

{% endblock content %}



